[submodule "libultraship"]
	path = libultraship
	url = https://github.com/linkzenic/libultraship.git
	branch = touch-controls-test
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/Jameriquiah/OTRExporter.git
	branch = mm-android
[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/linkzenic/ZAPDTR.git
	branch = mm-android
